<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sisyphus AI Agent Brain</title>
</head>
<body>
    <style>
        .message-content {
            white-space: pre-wrap;
            word-wrap: break-word; 
            margin: 10px 10px;
        }
        .time{
            font-size: smaller;
            color: gray;
        }
        header {
            text-align: center;
            padding: 1em;
            background-color: #f0f0f0;
        }
        .message-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 1em;
        }
    </style>
    <div class="message-container">
    <ul>
        <% messages.forEach(message => { %>
            <% if (message.role == 'tool') { %>
                <div class="collapsible-content" onclick="toggleContent(this)"><strong><%= message.role.toUpperCase() %>:</strong> (Click to expand)</div>
                <div class="message-content collapsed"><%= message.content %></div>
            <% } else { %>
                <div><strong><%= message.role.toUpperCase() %>:</strong></div>
                <div  class="message-content"><%= message.content %></div>
            <% } %>
            <div class="time"><%= new Date(message.created_at * 1000).toLocaleString('zh-CN') %></div>
        <% }) %>
    </ul>
</div>

    <div class="message-container">
    <ul>
        <% messages.forEach(message => { %>
            <div>
                <div><strong><%= message.role.toUpperCase() %>:</strong></div>
                <div  class="message-content"><%= message.content %></div>
                <div class="time"><%= new Date(message.created_at * 1000).toLocaleString('zh-CN') %></div>
                <br><br>
            </div>
        <% }) %>
    </ul>
    <script>
        function toggleContent(element) {
            console.log("dddd");
            const content = element.nextElementSibling;
            content.classList.toggle('collapsed');
        }
    </script>
</body>
</html>
